body{
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    width: 400px;
    display: flex;
    flex-direction: column;
}
form input{
    background-color: transparent;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
}
form label, form input{
    margin-bottom: .8rem;
}
form button{
    width: fit-content;
    cursor: pointer;
}
#results{
    margin-top: .8rem;
    font-size: 25px;
    font-weight: bold;
}
